Rappel

In [2]:
# Créer une série
import pandas as pd 
se = pd.Series([1, 2, 3, 4])
print(se)

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
# Créer une Series avec un index
se_i = pd.Series([1, 2], index= ["a", "b"])
print(se_i)

a    1
b    2
dtype: int64

In [6]:
# Accéder à la valeur correspondant à un élément de l'index
se_i["a"]

1

In [8]:
# Re-indexer une série
se_i.reindex(["b", "a", "c"])

b    2.0
a    1.0
c    NaN
dtype: float64

In [13]:
# Supprimer une colonne d'un df 

df = pd.DataFrame({"key1" : ["a", "a", "b", "b", "a"],
                    "key2" : ["one", "two", "one", "two", "one"]})

df = df.drop("key2", axis=1)
df

  key1
0    a
1    a
2    b
3    b
4    a

In [14]:
# Créer une colonne 
df["key3"] = "new_value"
df

  key1       key3
0    a  new_value
1    a  new_value
2    b  new_value
3    b  new_value
4    a  new_value

Series

In [2]:
# Créer une série contenant les 5 premiers entiers. Créer un index allant de "a" à "e"
idx_se = ...

In [ ]:
# Accéder à la valeur correspondant à l'index "e"

# Accéder aux valeurs correspondant aux index "b" et "c"

In [3]:
# Appliquer un masque pour ne garder que les éléments supérieurs à 2

In [ ]:
# Appliquer une opération (addition, soustraction, etc. au choix) sur l'ensemble des élements de la série

In [ ]:
# Créer une Series à partir d'un dict
# Même série que ci-dessus. Bonus si le dict est créé par for-comprehension !

DataFrame

In [7]:
# Créer un dataframe représentant les élèves avec trois colonnes
#   - prénom
#   - poste
#   - employeur

data = ...
df = ...

In [ ]:
# Sur ce dernier df:
# créer une nouvelle colonne "niveau_python" et assigner à tout le monde la valeur "intermediaire"

Index

In [ ]:
# Ré-utiliser la série avec l'index allant de "a" à "e" définie plus haut. La ré-indexer avec les lettres allant de "e" à "a"

In [ ]:
# Reprendre le df des élèves
# A l'aide de la méthode .drop(), supprimer la colonne "niveau_python"