Rappel

In [4]:
# Créer une série
import pandas as pd 
se = pd.Series([1, 2, 3, 4])
print(se)

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
# Créer une Series avec un index
se_i = pd.Series([1, 2], index= ["a", "b"])
print(se_i)

a    1
b    2
dtype: int64

In [6]:
# Accéder à la valeur correspondant à un élément de l'index
se_i["a"]

1

In [8]:
# Re-indexer une série
se_i.reindex(["b", "a", "c"])

b    2.0
a    1.0
c    NaN
dtype: float64

In [13]:
# Supprimer une colonne d'un df 

df = pd.DataFrame({"key1" : ["a", "a", "b", "b", "a"],
                    "key2" : ["one", "two", "one", "two", "one"]})

df = df.drop("key2", axis=1)
df

  key1
0    a
1    a
2    b
3    b
4    a

In [14]:
# Créer une colonne 
df["key3"] = "new_value"
df

  key1       key3
0    a  new_value
1    a  new_value
2    b  new_value
3    b  new_value
4    a  new_value

Series

In [7]:
# Créer une série contenant les 5 premiers entiers. Créer un index allant de "a" à "e"
import numpy as np 
idx_se = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
idx_se

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [8]:
# Accéder à la valeur correspondant à l'index "e"
idx_se["e"]
# Accéder aux valeurs correspondant aux index "b" et "c"
idx_se[["b", "c"]]

b    1
c    2
dtype: int64

In [9]:
# Appliquer un masque pour ne garder que les éléments supérieurs à 2
idx_se[idx_se>2]

d    3
e    4
dtype: int64

In [10]:
# Appliquer une opération (addition, soustraction, etc. au choix) sur l'ensemble des élements de la série
idx_se * 3

a     0
b     3
c     6
d     9
e    12
dtype: int64

In [21]:
index = ["a", "b", "c", "d", "e"]
for i, j in enumerate(index):
    print(i, j)

0 a
1 b
2 c
3 d
4 e

In [20]:
# Créer une Series à partir d'un dict
# Même série que ci-dessus. Bonus si le dict est créé par for-comprehension !
index = ["a", "b", "c", "d", "e"]
dict_for_series = {j:i for i, j in enumerate(index)}
series_5 = pd.Series(dict_for_series)
series_5

a    0
b    1
c    2
d    3
e    4
dtype: int64

DataFrame

In [22]:
# Créer un dataframe représentant les élèves avec trois colonnes
#   - prénom
#   - poste
#   - employeur

data = {"prenom": ["Romain", "Alexandre"], 
        "poste": ["DE", "DS"], 
        "employeur": ["SNCF", "Monoprix"]
        }
df = pd.DataFrame(data)
df

      prenom poste employeur
0     Romain    DE      SNCF
1  Alexandre    DS  Monoprix

In [24]:
# Sur ce dernier df:
# créer une nouvelle colonne "niveau_python" et assigner à tout le monde la valeur "intermediaire"
df["niveau_python"] = "intermediaire"
df

      prenom poste employeur  niveau_python
0     Romain    DE      SNCF  intermediaire
1  Alexandre    DS  Monoprix  intermediaire

Index

In [17]:
# Ré-utiliser la série avec l'index allant de "a" à "e" définie plus haut. La ré-indexer avec les lettres allant de "e" à "a"
series_5.reindex(sorted(series_5.index, reverse=True))
series_5.reindex(["e", "d", ...])

e    4
d    3
c    2
b    1
a    0
dtype: int64

In [25]:
# Reprendre le df des élèves
# A l'aide de la méthode .drop(), supprimer la colonne "niveau_python"
df.drop("niveau_python", axis=1)

      prenom poste employeur
0     Romain    DE      SNCF
1  Alexandre    DS  Monoprix