# Rappels

In [6]:
import pandas

DataFrame

In [7]:
# Créer un dataframe représentant les élèves avec trois colonnes
#   - prénom
#   - poste
#   - employeur

data = {"prenom": ["Thomas", "Alexandre"], 
        "poste": ["dev front", "dev back"], 
        "employeur": ["EDF", "Monoprix"]
        }
df = pandas.DataFrame(data)
df

      prenom      poste employeur
0     Thomas  dev front       EDF
1  Alexandre   dev back  Monoprix

In [8]:
# Sur ce dernier df:
# créer une nouvelle colonne "niveau_python" et assigner à tout le monde la valeur "intermediaire"
df["niveau_python"] = "intermediaire"
df

      prenom      poste employeur  niveau_python
0     Thomas  dev front       EDF  intermediaire
1  Alexandre   dev back  Monoprix  intermediaire

In [9]:
# Reprendre le df des élèves
# A l'aide de la méthode .drop(), supprimer la colonne "niveau_python"
df.drop("niveau_python", axis=1)

      prenom      poste employeur
0     Thomas  dev front       EDF
1  Alexandre   dev back  Monoprix