In [5]:
import pandas

df = pandas.DataFrame(
    {'key': ['b', 'b', 'a', 'c', 'a', 'b'],
    'data': range(6)}
)
df

  key  data
0   b     0
1   b     1
2   a     2
3   c     3
4   a     4
5   b     5

In [8]:
pandas.get_dummies(df['key'], dtype= int)

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0