# Rappels

In [3]:
import numpy as np
import pandas as pd 
df = pd.DataFrame({
                    "data1" : np.random.randn(5),
                    "data2" : np.random.randn(5),
                    "data3" : np.random.randn(5),
                    })
df

      data1     data2     data3
0  0.339317 -1.869827 -0.418424
1 -0.511373  0.011471 -0.398452
2 -0.132690  1.237933  1.193469
3 -1.418973  0.771219 -1.442471
4  0.575366  0.601972  0.609925

In [2]:
# Appliquer une fonction à chaque ligne d'un df 
df.apply(lambda x : x.max() - x.min(), axis = 1)

# Question : pourquoi axis = 1 ?

0    1.603257
1    1.055261
2    1.985413
3    0.827566
4    0.615282
dtype: float64

In [8]:
# Appliquer une fonction à chaque colonne d'un df
df.apply(lambda x : x.max() - x.min())

data1    2.696248
data2    2.951749
data3    2.969768
dtype: float64

In [2]:
# Appliquer une fonction à tout le df
df.map(lambda x : abs(x))

      data1     data2     data3
0  0.405514  1.099319  0.673381
1  0.561082  0.007150  0.420865
2  0.724985  0.737934  0.865612
3  1.410237  0.228052  1.528161
4  1.244136  0.718638  0.086996

# Exercice

In [9]:
# Appliquer une fonction de correspondance grace à .map() : transformer les numéros pairs en une string "pair" et les impairs en "impairs"
df = pd.DataFrame({
                    "data1" : np.random.randint(0,20, 5),
                    "data2" : np.random.randint(0,20, 5),
                    "data3" : np.random.randint(0,20, 5),
                    }, index=list("abcde"))

df["data2"] = df["data2"].apply(lambda x: "pair" if x%2==0 else "impair")
df

   data1   data2  data3
a      0    pair     17
b      7    pair      1
c      4    pair      2
d      2  impair     15
e     19  impair     18

In [5]:
df.map((lambda x: "pair" if x *2 ==0 else "impair"))

    data1   data2   data3
a  impair  impair  impair
b  impair  impair  impair
c  impair    pair    pair
d  impair  impair  impair
e  impair    pair  impair