# Rappels

In [1]:
import numpy as np
import pandas as pd 
df = pd.DataFrame({
                    "data1" : np.random.randn(5),
                    "data2" : np.random.randn(5),
                    "data3" : np.random.randn(5),
                    })
df

      data1     data2     data3
0 -1.508285  0.094972 -0.272711
1  1.857878  1.418088  0.802617
2  0.767672 -1.217741  0.402233
3  0.172881  1.000446  0.575798
4  0.334097  0.949378  0.468273

In [2]:
# Appliquer une fonction à chaque ligne d'un df 
df.apply(lambda x : x.max() - x.min(), axis = 1)

# Question : pourquoi axis = 1 ?

0    1.603257
1    1.055261
2    1.985413
3    0.827566
4    0.615282
dtype: float64

In [8]:
# Appliquer une fonction à chaque colonne d'un df
df.apply(lambda x : x.max() - x.min())

data1    2.696248
data2    2.951749
data3    2.969768
dtype: float64

In [2]:
# Appliquer une fonction à tout le df
df.map(lambda x : abs(x))

      data1     data2     data3
0  0.405514  1.099319  0.673381
1  0.561082  0.007150  0.420865
2  0.724985  0.737934  0.865612
3  1.410237  0.228052  1.528161
4  1.244136  0.718638  0.086996

# Exercice

In [5]:
# Appliquer une fonction de correspondance grace à .map() et un dict : transformer les numéros pairs en une string "pair" et les impairs en "imapirs"
df = pd.DataFrame({
                    "data1" : np.random.randint(0,20, 5),
                    "data2" : np.random.randint(0,20, 5),
                    "data3" : np.random.randint(0,20, 5),
                    }, index=list("abcde"))

df

   data1  data2  data3
a     10     11      5
b      1     18     16
c      0      3      6
d     17      9     11
e     17     11      1