Rappels

In [1]:
import numpy as np
import pandas as pd 
df = pd.DataFrame({
                    "data1" : np.random.randn(5),
                    "data2" : np.random.randn(5),
                    "data3" : np.random.randn(5),
                    })
df

      data1     data2     data3
0 -0.405514 -1.099319 -0.673381
1 -0.561082 -0.007150  0.420865
2 -0.724985  0.737934 -0.865612
3 -1.410237 -0.228052 -1.528161
4 -1.244136  0.718638  0.086996

In [7]:
# Appliquer une fonction à chaque ligne d'un df 
df.apply(lambda x : x.max() - x.min(), axis = 1)

# Question : pourquoi axis = 1 ?

0    1.316371
1    3.707408
2    0.365607
3    0.102849
4    3.153821
dtype: float64

In [8]:
# Appliquer une fonction à chaque colonne d'un df
df.apply(lambda x : x.max() - x.min())

data1    2.696248
data2    2.951749
data3    2.969768
dtype: float64

In [2]:
# Appliquer une fonction à tout le df
df.map(lambda x : abs(x))

      data1     data2     data3
0  0.405514  1.099319  0.673381
1  0.561082  0.007150  0.420865
2  0.724985  0.737934  0.865612
3  1.410237  0.228052  1.528161
4  1.244136  0.718638  0.086996

In [ ]:
# Appliquer une fonction de correspondance
# grace à .map() et un dict