# Rappels

In [1]:
import numpy as np
import pandas
df = pandas.DataFrame({
                    "data1" : np.random.randn(5),
                    "data2" : np.random.randn(5),
                    "data3" : np.random.randn(5),
                    })
df

      data1     data2     data3
0  0.352953 -0.616931  0.447508
1 -0.089080  0.623007  1.365930
2 -0.108454  0.725600  0.296838
3  0.697709 -0.426922  1.692590
4 -1.909224 -0.156526  1.412852

In [2]:
# Appliquer une fonction à chaque ligne d'un df 
df.apply(lambda x : x.max() - x.min(), axis = 1)

# Question : pourquoi axis = 1 ?

0    1.603257
1    1.055261
2    1.985413
3    0.827566
4    0.615282
dtype: float64

In [8]:
# Appliquer une fonction à chaque colonne d'un df
df.apply(lambda x : x.max() - x.min())

data1    2.696248
data2    2.951749
data3    2.969768
dtype: float64

In [2]:
# Appliquer une fonction à tout le df
df.map(lambda x : abs(x))

      data1     data2     data3
0  0.405514  1.099319  0.673381
1  0.561082  0.007150  0.420865
2  0.724985  0.737934  0.865612
3  1.410237  0.228052  1.528161
4  1.244136  0.718638  0.086996

# Exercice

In [3]:
# Appliquer une fonction de correspondance grace à .map() : transformer les numéros pairs en une string "pair" et les impairs en "impairs"
df = pandas.DataFrame({
                    "data1" : np.random.randint(0,20, 5),
                    "data2" : np.random.randint(0,20, 5),
                    "data3" : np.random.randint(0,20, 5),
                    }, index=list("abcde"))

df

   data1  data2  data3
a     12      0     12
b     11      6     11
c     19     11     13
d      1     14     11
e     16      0     13

In [4]:
def pair_ou_impair(x):
    if x % 2 == 0:
        return "pair"
    else:
        return "impair"

df.map((lambda x: pair_ou_impair(x)))

    data1   data2   data3
a    pair    pair    pair
b  impair    pair  impair
c  impair  impair  impair
d  impair    pair  impair
e    pair    pair  impair

In [5]:
df.map(pair_ou_impair)

    data1   data2   data3
a    pair    pair    pair
b  impair    pair  impair
c  impair  impair  impair
d  impair    pair  impair
e    pair    pair  impair

In [ ]:
# Re-créer une colonne age_group en utilisant la fonction apply