Exemple de la TVA

In [2]:
liste_de_prix_HT = [29.99, 37.55, 59, 12, 25]
TVA = 20/100

# 1er élément
print("Le prix HT est de",
      liste_de_prix_HT[0],
      "euros et le prix TTC est de",
      liste_de_prix_HT[0]*(1+TVA), "euros.")

# 2e élément
print("Le prix HT est de",
      liste_de_prix_HT[1],
      "euros et le prix TTC est de",
      liste_de_prix_HT[1]*(1+TVA), "euros.")

# ...

Le prix HT est de 29.99 euros et le prix TTC est de 35.988 euros.
Le prix HT est de 37.55 euros et le prix TTC est de 45.059999999999995 euros.

Plusieurs opérations se répètent : la sélection d'une valeur dans la liste, le calcul de la TVA et la commande print. Voyons quelles fonctions on peut ajouter

In [3]:
# Une première amélioration : le calcul de la TVA (avec arrondi)
TVA = 20/100
def add_TVA(prix: float) -> float:
    return round(prix*(1 + TVA), 2)

# 1er élément
print("Le prix HT est de",
      liste_de_prix_HT[0],
      "euros et le prix TTC est de",
      add_TVA(liste_de_prix_HT[0]), "euros.")

# 2e élément
print("Le prix HT est de",
      liste_de_prix_HT[1],
      "euros et le prix TTC est de",
      add_TVA(liste_de_prix_HT[1]), "euros.")

# ...

Le prix HT est de 29.99 euros et le prix TTC est de 35.99 euros.
Le prix HT est de 37.55 euros et le prix TTC est de 45.06 euros.

In [4]:
# Intégrons maintenant le print dans une fonction
def print_TVA_message(prix: float) -> None:
  print("Le prix HT est de", prix, "euros et le prix TTC est de",
        add_TVA(prix), "euros.")

# 1er élément
print_TVA_message(liste_de_prix_HT[0])

# 2e élément
print_TVA_message(liste_de_prix_HT[1])

# ...

Le prix HT est de 29.99 euros et le prix TTC est de 35.99 euros.
Le prix HT est de 37.55 euros et le prix TTC est de 45.06 euros.

In [5]:
# Bonus : boucle for
# Affichons le message pour chaque élément de la liste :
for element in liste_de_prix_HT:
  print_TVA_message(element)

Le prix HT est de 29.99 euros et le prix TTC est de 35.99 euros.
Le prix HT est de 37.55 euros et le prix TTC est de 45.06 euros.
Le prix HT est de 59 euros et le prix TTC est de 70.8 euros.
Le prix HT est de 12 euros et le prix TTC est de 14.4 euros.
Le prix HT est de 25 euros et le prix TTC est de 30.0 euros.

In [6]:
# Exercice de création de fonctions

In [7]:
# Nouveau scénario : on n'a plus une liste de prix, 
# mais une liste de tuples (prix, taux de TVA)
# Faire le même exercice, en choisissant le taux de TVA appliqué (5.5 ou 20)
# et en le précisant dans le print
liste_prix_TVA = [(25, 5.5), (15, 5.5), (200, 20)]
# 1. définir une nouvelle add_TVA
# 2. Utiliser cette fonction dans une boucle for qui parcourt la liste ci-dessus
for elt_tuple in liste_prix_TVA:
    print("le premier élément du tuple", elt_tuple[0])
    print("le deuxième élément du tuple", elt_tuple[1])
    print("======")

le premier élément du tuple 25
le deuxième élément du tuple 5.5
======
le premier élément du tuple 15
le deuxième élément du tuple 5.5
======
le premier élément du tuple 200
le deuxième élément du tuple 20
======

In [8]:
liste_prix_TVA = [(25, 5.5), (15, 5.5), (200, 20)]

def add_variable_TVA(prix: float, tva: float) -> float:
    return round(prix*(1 + tva/100), 2)

elt_test = (25, 5.5)

print("Le prix HT est de",
      elt_test[0],
      "euros et le prix TTC est de",
      add_variable_TVA(elt_test[0], elt_test[1]), "euros.")


for elt in liste_prix_TVA:
    print("Le prix HT est de",
      elt[0],
      "euros et le prix TTC est de",
      add_variable_TVA(elt[0], elt[1]), "euros.")
    


def print_TVA_message(prix: float, tva: float) -> None:
  print("Le prix HT est de", prix, "euros et le prix TTC est de",
        add_variable_TVA(prix, tva), "euros.")  


print_TVA_message(elt_test[0], elt_test[1])

for elt in liste_prix_TVA:
   print_TVA_message(elt[0], elt[1])

Le prix HT est de 25 euros et le prix TTC est de 26.38 euros.
Le prix HT est de 25 euros et le prix TTC est de 26.38 euros.
Le prix HT est de 15 euros et le prix TTC est de 15.82 euros.
Le prix HT est de 200 euros et le prix TTC est de 240.0 euros.
Le prix HT est de 25 euros et le prix TTC est de 26.38 euros.
Le prix HT est de 25 euros et le prix TTC est de 26.38 euros.
Le prix HT est de 15 euros et le prix TTC est de 15.82 euros.
Le prix HT est de 200 euros et le prix TTC est de 240.0 euros.

In [9]:
import math

In [10]:
b = "Python"

b[1:30]

'ython'

In [11]:
b[2:]

'thon'

In [12]:
b[:3]

'Pyt'

In [13]:
def fct_test() -> None :
    print("test")

def fct_test_2() -> str:
    return "test"

a = fct_test()
print(a)
b = fct_test_2()
print(b)

test
None
test

In [14]:
def est_pair(input: int) -> bool :
    if input%2 == 0:
        return True
    else:
        return False
    
est_pair(3)

def est_pair_concis(input:int) -> bool:
    return input%2 == 0

In [15]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [16]:
a = 5

condition = a == 3

if (a == 3):
    print("sup à 3")
else :
    print("inf à 3")

inf à 3