In [1]:
a = [1, 2, "coucou", None]
print(a)

[1, 2, 'coucou', None]

In [2]:
# ajouter un élément à une liste
a.append("salut !")
print(a)

[1, 2, 'coucou', None, 'salut !']

In [3]:
a[0:2] + ["salut"] + a[2:5]

[1, 2, 'salut', 'coucou', None, 'salut !']

In [4]:
# concaténer plusieurs listes
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 'coucou', None, 'salut !', 4, 5, 6]

In [5]:
# récupérer un élément à un index donné
elt_2 = c[2]
print(elt_2)

coucou

In [6]:
# suppression d'un élément
l = ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']

l.remove('Alice')
print(l)

['Bob', 'Charlie', 'Bob', 'Dave']

In [7]:
# trier une liste d'entiers
d = [4, 3, 7, 5, 8]
print(sorted(d, reverse=True))

[8, 7, 5, 4, 3]

In [8]:
# parcourir une liste
d = [4, 3, 7, 5, 8]
for elt in d:
    print(elt)

4
3
7
5
8

In [9]:
# parcourir une liste
d = [4, 3, 7, 5, 8, 10]
for elt in d:
    if elt > 6:
        print("supérieur à 6")
    else :
        print(elt)

4
3
supérieur à 6
5
supérieur à 6
supérieur à 6

In [10]:
# parcourir une liste
d = ["hi", "hello", "salut", "bonjour", "salutations"]
for elt in d:
    if len(elt) > 7:
        print("Mot trop long")
    elif len(elt) < 3:
        print("Mot trop court")
    else :
        print(elt)

Mot trop court
hello
salut
bonjour
Mot trop long

In [11]:
# filtrer et ne récupérer que les éléments pairs
d = [4, 3, 7, 5, 8, 10]

def est_pair(a):
    return a%2==0

new_list = []
for i in d:
    if est_pair(i):
        new_list.append(i)


for i in d:
    if not est_pair(i):
        d.remove(i)

In [12]:
# filtrer et ne récupérer que les éléments pairs
# Méthode avancée
new_list_2 = [i for i in d if est_pair(i)]

In [13]:
# Bonus
# Effectuer une opération mathématique sur chacun des éléments d'une liste

[2*i + 1 for i in d]

[9, 15, 17, 21]

In [14]:
l = ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']


[x.upper() for x in l if len(x)>3]

['ALICE', 'CHARLIE', 'DAVE']

In [15]:
[x.upper() if len(x)>3 else x for x in l]

['ALICE', 'Bob', 'CHARLIE', 'Bob', 'DAVE']